#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS=hardening=+all
export PYBUILD_NAME=maturin

build3vers := $(shell py3versions -sv)

%:
	dh $@ --with python3 --buildsystem pybuild
	
override_dh_autoreconf:
	echo '[net]' >> Cargo.toml
	echo 'git-fetch-with-cli = true' >> Cargo.toml
	cargo fetch --locked
